blas
ca-certificates
certifi
cffi
cloudpickle
cycler
cytoolz
dask-core
dbus-next
decorator
expat
fontconfig
freetype
glib
gst-plugins-base
gstreamer
icu
imageio
intel-openmp
jpeg
kiwisolver
libffi
libpng
libtiff
libxcb
libxml2
matplotlib
mkl
mkl_fft
mkl_random
networkx
ninja
numpy
numpy-base
olefile
openssl
pcre
pillow
pip
pycparser
pyparsing
pyqt
pyreadline
python
python-dateutil
pytz
pywavelets
qt
scikit-image
scikit-learn
scipy
setuptools
sip
six
sqlite
tk
toolz
tornado
wheel
xz
zlib
zstd
